{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<body class="text-center">


  <main role="main" class="inner cover" style="margin-top: 120px; margin-bottom: 170px;">
    <h1 class="cover-heading">E-commerce Site.</h1>
    <p class="lead">This website is a simulation of an Ecommerce Online Business. <br> Using Django for the back-end and JavaScript and Bootstrap for the front-end. </p>
    <p class="lead">
      <a href="{% url 'store' %}" class="btn btn-lg btn-info">Visit The Store</a>
    </p>
  </main>

</div>


</body>

  {% endblock content %}